.Rproj.user
.Rhistory
.RData
.Ruserdata
LGM_DE_SI_GR_final.xlsx
Standard_analysis.html
Standard_analysis_cache
Standard_analysis_files
Standard_analysis.docx
My_Collection.bib
LGM_LD.txt
LGM_LD.xlsx
LGM_LD_DE_Adult.csv
.~lock.LGM_LD.xlsx#
LGM_DE_SI_GR_LD.txt
LGM_DE_SI_GR_final_genepop.txt
cmdline.txt
fichier.in
.directory
DE_Adult_LD.csv
LGM_Abies_LD_by_pop_genepop_out.csv
NUL
